.section-title{
    color: orange !important;
}
/* Define styles for the hover state of menu items */
.ps-menu-button:hover {
    color: rgb(249, 249, 249) !important; /* Change this to your desired hover color */
    background-color: rgba(237, 152, 54, 0.894) !important; /* Add a background color for the hover state */
    /* You can adjust other styles like padding, border, etc. as needed */
    padding: 2px 5px !important;
  }
  